# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\User\Documents\IIT_lectures_2020\Sem2\Programming_Fundamental (CM1601)\coursework\Omi_Game\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
